* {
  margin: 0;
  padding 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr 1fr;
}

.header {}

.footer {
  grid-column: 1 / -1;
}