

.grid-container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fill, min(300px, 1fr)) ;
  grid-auto-rows:  200px;
}

.content {
  grid-row: 1 / -1;
}

.project1 {
  background-color: #666b4b;
}

.project2 {
  grid-row: 1 / -1;
}


.footer {
  grid-column: 1 / -1;
}