

.grid-container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: [main-start] 1fr [main-middle] 1fr [main-end];
  grid-auto-rows:  [main-start] 1fr [main-middle] 1fr [main-end];
}

.content {
  grid-column: main-start / main-middle;
  grid-row: main;
  background-color: #d3376b;
  justify-content: centre;
  align-content: space-between;
}

.project1 {
  grid-column: main-middle / main-end;
  grid-row: main-start / main-middle;
  background-color: #666b4b;
}

.project2 {
  grid-column: main-middle / main-end;
  grid-row: main-middle / main-end;
  background-color: #6b4b68;
}